/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f6f7;
}

/* Header */

header {
    background-color: white;
}

.logo_image {
    width: 5%;
    vertical-align: middle;
    margin-left: 2%;
}

.page_title {
    display: inline-block;
    font-size: 350%;
    margin: 1% 0;
    vertical-align: middle;
 }   

/* Main */

.container {
    background-color: white;
    width: 70%;
    margin: 3% auto;
    padding-bottom: 1%;
}

/* Buttons */

.button_section {
    padding: 2% 5%;
    border-bottom: 3px solid #f4f6f7;
}

.buttons {
    font-size: 100%;
    padding: 0.5%;
    border-radius: 5px;
}

#button_azure {
    color: white;
    background-color: #47adf1;
    border-color:#47adf1 ;

}

#button_white {
    background-color: white;
    color: lightgray;
    border-color: lightgray;
}

/* Liste */

ul {
    list-style: none;
}

.list_section {
    margin: 3% 5%;
}

.title_list {
    margin-bottom: 1%;
    font-size: 140%;
}

li {
    margin-bottom: 2%;
    font-size: 130%;
}

.tags {
    display: inline-block;
    font-size: 60%;
    padding: 0.8%;
    color: white;
    border-radius: 15px;
}

.editorial_tag {
    background-color: #47adf1;
}

.q1_tag {
    background-color: #9c72e4;
}

.recruiting_tag {
    background-color: #64c0a9;
}

.mobile_tag {
    background-color: #f3a33e;
}

.website_tag {
    background-color: #d864a2;
}

.sales_tag {
    background-color: #b0c926;
}