/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f6f7;
}

/* Header */

header {
    background-color: white;
}

.logo_image {
    width: 5%;
    vertical-align: middle;
    margin-left: 2%;
}

.page_title {
    display: inline-block;
    font-size: 350%;
    margin: 1% 0;
    vertical-align: middle;
 }   

/* Main */

.container {
    background-color: white;
    width: 70%;
    margin: 3% auto;
    padding-bottom: 1%;
}

/* Buttons */

.button_section {
    padding: 2% 5%;
    border-bottom: 3px solid #f4f6f7;
}

.buttons {
    font-size: 100%;
    padding: 0.5%;
    border-radius: 5px;
}

#button_azure {
    color: white;
    background-color: #47adf1;
    border-color:#47adf1 ;

}

#button_white {
    background-color: white;
    color: lightgray;
    border-color: lightgray;
}

/* Liste */

ul {
    list-style: none;
}

.tags {
    display: inline-block;
}

.list_section {
    margin: 3% 5%;

}